.font{
    text-align: center;
    font-size: 20px;
    padding-top: 70px;
    color: white;
}
body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
.button{
    padding: 10px 20px;
    font-size: 15px;
    background-color: rgb(247, 47, 47);
    border: 0ch;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.font2{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}

.background{
    background-image: url(./donation13.jpg);
    padding-bottom: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}